.pageIntro {
    grid-column: center-start / center-end;
    margin: 15rem 10rem 1rem 10rem;
    gap: 10rem;

    // Safari only
    @supports (-webkit-hyphens: none) {
        margin: 8rem 3rem 0rem 3rem;
    }

    &__title {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-top: 5rem;
        padding-bottom: 6rem;

        // Safari only
        @supports (-webkit-hyphens: none) {
            padding-top: 3.5rem;
            padding-bottom: 2rem;
        }
    }

    &__text {
        text-align: start;
        padding: 1rem 2rem;

        // Safari only
        @supports (-webkit-hyphens: none) {
            padding: 0.25rem 0.5rem;
        }
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;

        @media (max-width: $bp-medium) {
            grid-template-columns: 1fr;
        }
    }

    &__col {
        margin-bottom: 4rem;

        &--right {
            display: flex;
            justify-content: center; // horizontal
            align-items: center;
        }
    }
}