%title {
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

%text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 1rem;
  padding: 5rem;

  // Safari only
  @supports (-webkit-hyphens: none) {
    padding: 2rem;
  }
}

._services {
  grid-column: center-start / center-end;
  margin: 5rem 5rem;

  &__title{
    @extend %title;
    margin-bottom: 6rem;
    margin-top: 6rem;
  }
}

._service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 4rem;

  &-button {
    @include btn($color-secondary);

    &:hover {
      @include btn($color-secondary-dark);
    }
  }

  &__reverse {
    &__image-col {
      order: 2;
    }

    &__text-col {
      order: 1;
      @extend %text;

      &__description {
        text-align: left;
        margin-top: 6rem;
        margin-left: 6rem;
        margin-bottom: 6rem;

        // Safari only
        @supports (-webkit-hyphens: none) {
          margin-top: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
  }

  &__text-col {
    @extend %text;

    &__description {
      text-align: left;
      margin-left: 6rem;
      margin-top: 6rem;
      margin-bottom: 6rem;

      // Safari only
      @supports (-webkit-hyphens: none) {
        margin-left: 3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }
    }
  }
}