.services {
  grid-column: center-start / center-end;
  margin: 0.5rem 0.5rem;

  display: grid;

  &__title {
    @include title;
    margin-top: 6rem;

    @media (max-width: $bp-medium) {
      margin-top: 3rem;
    }

    // Safari only
    @supports (-webkit-hyphens: none) {
      margin-top: 0.5rem;
    }

    &--subtitle {
      @include title;
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 6rem;

      @media (max-width: $bp-medium) {
        margin-bottom: 0.5rem;
      }
    }
  }


  &__footer {
    display: flex;
    justify-content: center;

    &-button {
      @include btn($color-secondary);

      &:hover {
        @include btn($color-secondary-dark);
      }
    }
  }
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 4rem;

  @media (max-width: $bp-medium) {
    grid-template-columns: 1fr;
    // margin-bottom: 0rem;

    &__image-col {
      grid-column: 1;
      grid-row: 2;
    }

    &__text-col {
      grid-column: 1;
      grid-row: 1;
    }

    &__reverse {
      &__image-col {
        grid-column: 1;
        grid-row: 2;
      }

      &__text-col {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }

  &__button {
    @include btn($color-secondary);

    &:hover {
      @include btn($color-secondary-dark);
    }
  }

  &__reverse {
    &__image-col {
      order: 2;
    }

    &__text-col {
      order: 1;
      @include text;

      &__description {
        text-align: left;
        margin-top: 6rem;
        margin-left: 6rem;
        margin-bottom: 6rem;

        // Safari only
        @supports (-webkit-hyphens: none) {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
          margin-left: 0.5rem;
        }
      }
    }
  }

  &__image-col {
    order: 1;
  }

  &__text-col {
    order: 2;
    @include text;

    &__description {
      text-align: left;
      margin-left: 6rem;
      margin-top: 6rem;
      margin-bottom: 6rem;

      // Safari only
      @supports (-webkit-hyphens: none) {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
      }
    }
  }
}