.videoIntro {

    &__video-wrapper {
        background: lightgray;
        display: flex;
        justify-content: center; // horizontal
        align-items: center;
        object-fit: cover;
    }

    &__video {
        @include mediaIntro;
    }

    &__iamge {
        @include mediaIntro;
    }
}