.weblog {
  grid-column: center-start / center-end;
  margin: 6rem 0;
  padding: 0 0 3rem 0;

  display: grid;
  gap: 5rem;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__footer {
    display: flex;
    justify-content: center;
  }

  &-button {
    @include btn($color-secondary);

    &:hover {
      @include btn($color-secondary-dark);
    }
  }
}

.blog {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;

  // Safari only
  @supports (-webkit-hyphens: none) {
    gap: 2rem;
  }

  @media only screen and (max-width: $bp-xmedium) {
    grid-template-columns: auto;
  }

  &__pictures {
    &--1 {
      @extend %blog-bg;

      background-image: linear-gradient(
          rgba($color-black, 0.5),
          rgba($color-black, 0.5)
        ),
        url($img-blockchain-blog);
    }
    &--2 {
      @extend %blog-bg;

      background-image: linear-gradient(
          rgba($color-black, 0.5),
          rgba($color-black, 0.5)
        ),
        url($img-digitization-cybersecurity-bg-blog);
    }
    &--3 {
      @extend %blog-bg;

      background-image: linear-gradient(
          rgba($color-black, 0.5),
          rgba($color-black, 0.5)
        ),
        url($img-digital-identity-bg-blog);
    }
  }

  &__picture--1 {
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    overflow: hidden;

    @media only screen and (max-width: $bp-xmedium) {
      grid-column: 3 / 5;
    }

    @media only screen and (max-width: $bp-small) {
      grid-column: 2 / 6;
    }

    width: 100%;
    border-radius: 50%;
    -webkit-mask-image: linear-gradient(
      to left,
      transparent,
      white,
      transparent
    );
    mask-image: linear-gradient(to left, transparent, white, transparent);
  }

  &__picture--2 {
    grid-row: 2 / 6;
    grid-column: 1 / 4;
    width: 100%;
    -webkit-mask-image: linear-gradient(to left, transparent, white);
    mask-image: linear-gradient(to left, transparent, white);
  }

  &__picture--3 {
    grid-row: 4 / 6;
    grid-column: 5 / 7;
    width: 115%;

    @media only screen and (min-width: $bp-xlarge) {
      width: 110%;
    }
  }

  &__article {
    padding: 3rem 4rem;
    font-size: 4rem;

    // Safari only
    @supports (-webkit-hyphens: none) {
      padding: 0.5rem 1rem;
      @media only screen and (max-width: $bp-xsmall) {
        padding: 0.5rem 0.5rem;
      }
    }

    @media only screen and (min-width: $bp-xsmall) and (max-width: $bp-xmedium) {
      padding: 0.5rem 3rem;
    }

    display: grid;
    row-gap: 3rem;

    &__body {
      padding: 0 2rem;
    }

    &__footer {
      display: flex;
      justify-content: center;
    }

    &-button {
      @include btn($color-secondary);

      &:hover {
        @include btn($color-secondary-dark);
      }
    }
  }
}
