@mixin btn($color) {
  background-color: $color;
}

@mixin title {
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 1rem;
  padding: 5rem;

  // Safari only
  @supports (-webkit-hyphens: none) {
    padding: 2rem;
  }
}

@mixin mediaIntro {
  width: 97%;
  height: 90%;
  margin: 2rem;
  cursor: pointer;
  object-fit: inherit;
}