// Extends
%button {
  color: $color-white;
  width: 30rem;
  height: 8rem;

  // Safari only
  @supports (-webkit-hyphens: none) {
    width: 18rem;
    height: 3.8rem;
  }

  border-radius: 2rem;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 4.5rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  transition: transform 0.1s;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

%blog-bg {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: 3rem 0;
  background-size: cover;
  background-position: center;

  // Safari only
  @supports (-webkit-hyphens: none) {
    height: 48rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  font-size: 30%;

  @media only screen and (max-width: $bp-xlarge) {
    font-size: 20%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

svg {
  fill: $color-grey-light-2;
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    fill: white;
  }

  // Safari only
  @supports (-webkit-hyphens: none) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.container {
  display: grid;
  min-height: 100vh;

  grid-template-rows: auto 1fr auto;
  grid-template-columns:
    [full-start] minmax(1rem, 1fr) [center-start] repeat(2, [col-start] minmax(45%, 1fr) [col-end]) [center-end] minmax(1rem, 1fr) [full-end];

  &__main {
    grid-column: full-start / full-end;
    grid-row: 2;
    padding: 2rem 5rem;
  }

  &__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}