// COLOR VARIABLES

$color-primary: #aa0ccd;
$color-primary-dark: #630678;

$color-secondary: #0ca9c5;
$color-secondary-dark: #27666a;

$color-tertiary: #5c7893;
$color-tertiary-dark: #2f3e4c;

$color-quaternary: #de7008;
$color-quaternary-dark: #773e0a;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #8b8b89;

$color-grey-dark-1: #352c2c;
$color-grey-dark-2: #474747;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-secondray: "Lucida Sans", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-xxxlarge: 118.75em; // 1900px 1900/16=118.75,  16 is the default browser font size
$bp-xxlarge: 93.75em; // 1500px 1500/16=93.75
$bp-xlarge: 75em; // 1200px 1200/16=75
$bp-large: 62.5em; // 1000px 1000/16=62.5
$bp-medium: 56.25em; // 900px; 900/16=56.25
$bp-xmedium: 50em; // 800px; 800/16=50
$bp-small: 37.5em; // 600px; 600/16=32.5
$bp-xsmall: 25em; // 400px; 400/16=25

// Image Paths
$img-blockchain-service: "../assets/images/services/blockchain-service.jpg";
$img-mobile-app-service: "../assets/images/services/mobile-app-service.jpg";
$img-api-service: "../assets/images/services/api-service.jpg";
$img-blockchain-blog: "../assets/images/blogs/blockchain.jpg";
$img-digitization-cybersecurity-bg-blog: "../assets/images/blogs/digitization-cybersecurity-bg.jpg";
$img-digital-identity-bg-blog: "../assets/images/blogs/digital-identity-bg.jpg";

// Extends
%button {
  color: $color-white;
  width: 30rem;
  height: 8rem;

  // Safari only
  @supports (-webkit-hyphens: none) {
    width: 20rem;
    height: 4rem;
  }

  border-radius: 2rem;
  border: 0;
  cursor: pointer;
  font-weight: 500;
  font-size: 4.5rem;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
  transition: transform 0.1s;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}

%blog-bg {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  padding: 3rem 0;
  background-size: cover;
  background-position: center;
  height: 93rem;

  // Safari only
  @supports (-webkit-hyphens: none) {
    height: 38rem;
    @media only screen and (max-width: $bp-xsmall) {
      // max-width: 80%;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  // font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  font-size: 30%;

  @media only screen and (max-width: $bp-xlarge) {
    font-size: 20%;
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

svg {
  fill: $color-grey-light-2;
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
  cursor: pointer;
  &:hover {
    fill: white;
  }
}

.container {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns:
    [full-start] minmax(1rem, 1fr)
    [center-start] repeat(2, [col-start] minmax(45%, 1fr) [col-end])
    [center-end]
    minmax(1rem, 1fr) [full-end];
}
