.footer {
  background-color: black;
  grid-column: 1 / -1;
  grid-row: 6/7;
  color: white;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem 3rem;

  &__item {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    padding: 5rem;
    row-gap: 2rem;

    // Safari only
    @supports (-webkit-hyphens: none) {
      padding: 2rem;
    }

    &--1 {
      grid-column: 1/3;

      @media only screen and (max-width: $bp-xsmall) {
        grid-column: 1/6;
      }

      // Safari only
      @supports (-webkit-hyphens: none) {
        @media only screen and (max-width: $bp-xmedium) {
          grid-column: 1/6;
        }
      }
    }

    &-title {
      font-size: 4.5rem;
      text-transform: uppercase;
    }

    &-list {
      font-size: 4rem;
      color: $color-grey-light-2;

      display: grid;
      grid-template-rows: repeat(4, 1fr);
    }

    &-about {
      color: $color-grey-light-2;
      font-size: 4rem;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 2rem;

      &-footer {
        display: flex;
        align-items: center;
      }
    }

    &-link {
      cursor: pointer;
      position: relative;

      &--tooltip {
        visibility: hidden;
        width: 50rem;
        background-color: $color-grey-dark-2;
        color: $color-white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 5px;
        opacity: 0;
        transition: opacity 1s 0.5s;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -1rem;
        left: -52rem;

        // Safari only
        @supports (-webkit-hyphens: none) {
          width: 20rem;
          top: -1rem;
          left: -21rem;
          @media only screen and (max-width: $bp-xsmall) {
            top: -1rem;
            left: 22rem;
          }
        }

        @media only screen and (max-width: $bp-xsmall) {
          top: -1rem;
          left: 22rem;
        }
      }

      &:hover {
        color: white;
      }

      &:hover &--tooltip {
        visibility: visible;
        opacity: 1;
      }
    }

    &-button {
      @extend %button;
      background-color: $color-tertiary;

      &:hover {
        background-color: $color-tertiary-dark;
      }
    }
  }
}
