.vision {
  // grid-row: 2 / 3;
  grid-column: 1 / 5;

  &__video {
    width: 100%;

    // Safari only
    @supports (-webkit-hyphens: none) {
      @media only screen and (max-width: $bp-xsmall) {
        padding: 0 4rem;
      }
    }
  }
}
