.vision {
  grid-column: 1 / 5;

  &__video {
    width: 100%;

    // Safari only
    @supports (-webkit-hyphens: none) {
      @media only screen and (max-width: $bp-xsmall) {
        grid-column: center-start / center-end;
        width: 132%;
      }
    }
  }
}
