.header {
  background-color: rgba($color-white, 0.7);
  position: sticky;
  grid-column: 1 / 5;
  top: 0;
  z-index: 20;
}

.nav {
  &__list {
    list-style: none;
    font-size: 5rem;
    font-weight: 900;
    width: 100%;

    display: flex;
    flex-direction: row;
    text-align: center;

    @media only screen and (max-width: $bp-medium) {
      display: block;
      max-height: 15rem;

      // Safari only
      @supports (-webkit-hyphens: none) {
        max-height: 6rem;
      }
    }
  }

  &__item {
    text-decoration: none;
    flex: 0.5;
    align-self: center;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      visibility: hidden;
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(1px);
    }

    &--1 {
      flex: 5;
      grid-column: 2/5;
      font-size: 8rem;
    }

    &--last {
      flex: 1;
      align-self: center;
    }

    &-link {
      text-decoration: none;
      color: $color-black;

      &:hover {
        color: $color-grey-light-2;
      }
    }

    &-logo {
      text-decoration: none;
      padding-left: 5rem;
      // X Y Clarity
      text-shadow: 0.6rem 0.7rem 1rem rgba($color-black, 0.6);

      @supports (-webkit-hyphens: none) {
        text-shadow: 0.2rem 0.4rem 0.6rem rgba($color-black, 0.5);
      }

      display: flex;
      justify-content: flex-start;

      &--1st {
        color: $color-primary;
      }

      &--2nd {
        color: $color-black;
      }
    }

    &-console-btn {
      @extend %button;
      background-color: $color-primary;
      font-size: 5rem;

      &:hover {
        background-color: $color-primary-dark;
      }

      @media only screen and (max-width: $bp-medium) {
        display: none;
      }
    }
  }
}

.sidenav {
  display: none;
  position: absolute;

  @media only screen and (max-width: $bp-medium) {
    display: block;
    visibility: visible;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 10rem;
    width: 12rem;
    position: fixed;
    top: 2rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;

    // Safari only
    @supports (-webkit-hyphens: none) {
      height: 4rem;
      width: 5rem;
      top: 1rem;
      right: 1rem;
    }
  }

  &__icon {
    margin: 7px 6px;

    &-line {
      position: relative;
      float: left;
      background-color: $color-black;
      height: 2px;
      width: 8.5rem;
      margin: 2px 0px;
      opacity: 1;

      // Safari only
      @supports (-webkit-hyphens: none) {
        height: 3px;
        width: 3.7rem;
      }
    }

    &-cross {
      opacity: 0;
      position: relative;
      top: -11rem;
      font-size: 10rem;
      font-weight: 100;

      // Safari only
      @supports (-webkit-hyphens: none) {
        top: -4rem;
      }
    }
  }

  &__checkbox:checked + &__button &__icon &__icon-line {
    opacity: 0;
  }

  &__checkbox:checked + &__button &__icon &__icon-cross {
    opacity: 1;
  }

  &__background {
    height: 6rem;
    width: 6.5rem;
    position: fixed;
    top: 4rem;
    right: 7.5rem;
    background-image: radial-gradient($color-grey-light-1, $color-grey-dark-2);
    z-index: 1500;
    transition: transform 0.8s;

    // Safari only
    @supports (-webkit-hyphens: none) {
      height: 2.7rem;
      width: 2rem;
      top: 2rem;
      right: 2rem;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
    height: 100%;

    @supports (-webkit-hyphens: none) {
      transform: scale(80);
      height: 100%;
      width: 100%;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 7rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-black;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 52%,
        $color-white 50%
      );
      background-size: 260%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }
}
