.template1 {
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;

  &--text {
    font-size: 6rem;
  }

  &--image {
    width: 90%;
    height: auto;
  }
}

.template2 {
  margin-left: -5rem;
  margin-right: -5rem;

  &__section {
    width: 100%;
    height: 100%;

    &--header {
      display: grid;
      grid-template-rows: repeat(8, 1fr);
      grid-template-columns: repeat(8, 1fr);

      &-video {
        width: 100%;
        // height: 100vh;
        grid-row: 1 / 9;
        grid-column: 1 / 9;

        &--dark {
          filter: brightness(70%);
        }

        // Safari only
        @supports (-webkit-hyphens: none) {
          @media only screen and (max-width: $bp-xsmall) {
            grid-column: center-start / center-end;
          }
        }
      }

      &-text {
        z-index: 10;
        grid-row: 2 / 5;
        grid-column: 1 / 5;
        color: $color-grey-light-1;
        margin-left: 10rem;
        width: 100%;
        font-size: 5vw;
        line-height: 1;

        @media only screen and (max-width: $bp-small) {
          font-size: 8vw;
        }
      }

      &-image {
        z-index: 1;
        width: 100%;
        height: 100vh;
        grid-row: 1 / 9;
        grid-column: 1 / 9;
        filter: brightness(70%);

        @media only screen and (max-width: $bp-xlarge) {
          height: auto;
        }
      }
    }

    &--button {
      @include btn($color-grey-dark-1);

      &:hover {
        @include btn($color-grey-dark-2);
      }
    }

    &--body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5rem 35rem;
      min-height: 50vh;

      @media only screen and (max-width: $bp-xlarge) {
        padding: 5rem 30rem;
      }

      @media only screen and (max-width: $bp-xmedium) {
        padding: 5rem 25rem;
      }

      @media only screen and (max-width: $bp-small) {
        padding: 5rem 10rem;
      }

      // Safari only
      @supports (-webkit-hyphens: none) {
        padding: 5rem 30rem 0rem 30rem;

        @media only screen and (max-width: $bp-xlarge) {
          padding: 5rem 15rem 0rem 15rem;
        }

        @media only screen and (max-width: $bp-xmedium) {
          padding: 5rem 7rem 0rem 7rem;
        }

        @media only screen and (max-width: $bp-small) {
          padding: 5rem 5rem 0rem 5rem;
        }
      }

      &-text {
        display: flex;
        flex-direction: column;
      }

      &-image {
        width: 65%;
        max-width: 100%;
        padding-top: 10rem;
        margin: 0 auto;

        @supports (-webkit-hyphens: none) {
          padding-top: 6rem;
        }

        &--caption {
          text-align: center;
          margin-top: 1.5rem;
          font-style: italic;
          opacity: 0.8;
        }
      }
    }

    &--form {
      font-size: 5rem;
      border-color: gray;
      border-width: 5px;
      margin-bottom: 5rem;

      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      align-items: start;

      &-input {
        border: 1px solid #ccc;
        height: 10rem;
        width: 100rem;
        margin-bottom: 6rem;
        font-size: 5rem;
        color: gray;

        // Safari only
        @supports (-webkit-hyphens: none) {
          height: 5rem;
          width: 60rem;
          margin-bottom: 2rem;

          @media only screen and (max-width: $bp-small) {
            width: 30rem;
          }
        }
      }

      &-textarea {
        height: 40rem;
        resize: none;
      }

      &-result {
        font-size: 6rem;
      }

      &-error {
        font-size: 4rem;
        color: red;
        font-weight: bolder;
      }
    }
  }

  /* ============================= */
  /* Image + Text Block (NEW)      */
  /* ============================= */

  &__imageText {
    display: grid;
    gap: 3rem;
    align-items: start;
    margin: 8rem 0;


    /* Image on the RIGHT, text on the LEFT */
    &--right {
      grid-template-columns: 1fr 50%;

      @media only screen and (min-width: $bp-small) and (max-width: $bp-medium) {
        grid-template-columns: 1fr 40%;
      }

      @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
      }

      @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    /* Image on the LEFT, text on the RIGHT */
    &--left {
      grid-template-columns: 50% 1fr;

      @media only screen and (min-width: $bp-small) and (max-width: $bp-medium) {
        grid-template-columns: 1fr 40%;
      }

      @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
      }

      @media only screen and (max-width: $bp-small) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }

    /* Full-width image, text below */
    &--full {
      grid-template-columns: 1fr;
    }

    &-text {
      min-width: 0;
      overflow-wrap: break-word;

      @media only screen and (min-width: $bp-xxxlarge) {
        margin-top: 3rem;
      }

      @media only screen and (min-width: $bp-xlarge) and (max-width: $bp-xxxlarge) {
        margin-top: 1.5rem;
      }
    }

    &-image {
      min-width: 0;

      &--caption {
        text-align: center;
        margin-top: 1.5rem;
        font-style: italic;
        opacity: 0.8;
      }

      @media only screen and (min-width: $bp-xlarge) and (max-width: $bp-xxlarge) {
        margin-top: 5rem;
      }


      @media only screen and (min-width: $bp-xxxlarge) {
        width: 65%;
        max-width: 100%;
      }

      @media only screen and (max-width: $bp-medium) {
        margin-top: 4rem;
        width: 65%;
        max-width: 100%;
      }
    }
  }
}