.template1 {
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;

  &--text {
    font-size: 6rem;
  }

  &--image {
    width: 90%;
    height: auto;
  }
}

.template2 {
  grid-column: 1/5;

  &__section {
    width: 100%;
    height: 100%;

    &--header {
      display: grid;
      grid-template-rows: repeat(8, 1fr);
      grid-template-columns: repeat(8, 1fr);

      &-video {
        width: 100%;
        grid-row: 1 / 9;
        grid-column: 1 / 9;
        filter: brightness(50%);

        // Safari only
        @supports (-webkit-hyphens: none) {
          @media only screen and (max-width: $bp-xsmall) {
            grid-column: center-start / center-end;
          }
        }
      }

      &-text {
        z-index: 10;
        grid-row: 2 / 5;
        grid-column: 1 / 5;
        color: $color-grey-light-1;
        margin-left: 10rem;
        width: 100%;
        font-size: 5vw;
        line-height: 1;

        @media only screen and (max-width: $bp-small) {
          font-size: 8vw;
        }
      }

      &-image {
        z-index: 1;
        width: 100%;
        height: 80vh;
        grid-row: 1 / 9;
        grid-column: 1 / 9;
        filter: brightness(50%);

        @media only screen and (max-width: $bp-xlarge) {
          height: auto;
        }
      }
    }

    &--body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5rem 55rem;
      min-height: 50vh;

      @media only screen and (max-width: $bp-xlarge) {
        padding: 5rem 30rem;
      }
      @media only screen and (max-width: $bp-xmedium) {
        padding: 5rem 25rem;
      }
      @media only screen and (max-width: $bp-small) {
        padding: 5rem 10rem;
      }

      // Safari only
      @supports (-webkit-hyphens: none) {
        padding: 5rem 30rem 0rem 30rem;

        @media only screen and (max-width: $bp-xlarge) {
          padding: 5rem 15rem 0rem 15rem;
        }
        @media only screen and (max-width: $bp-xmedium) {
          padding: 5rem 7rem 0rem 7rem;
        }
        @media only screen and (max-width: $bp-small) {
          padding: 5rem 3rem 0rem 3rem;
        }
      }

      &-text {
        flex: 1;
      }

      &-image {
        padding-top: 10rem;

        @supports (-webkit-hyphens: none) {
          padding-top: 6rem;
        }
      }
    }
  }
}
