.template1 {
  height: 90vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3rem;

  &--text {
    font-size: 6rem;
  }

  &--image {
    width: 90%;
    height: auto;
  }
}

.template2 {
  margin-left: -5rem;
  margin-right: -5rem;

  &__section {
    width: 100%;
    height: 100%;

    &--header {
      display: grid;
      grid-template-rows: repeat(8, 1fr);
      grid-template-columns: repeat(8, 1fr);

      &-video {
        width: 100%;
        grid-row: 1 / 9;
        grid-column: 1 / 9;

        &--dark {
          filter: brightness(50%);
        }

        // Safari only
        @supports (-webkit-hyphens: none) {
          @media only screen and (max-width: $bp-xsmall) {
            grid-column: center-start / center-end;
          }
        }
      }

      &-text {
        z-index: 10;
        grid-row: 2 / 5;
        grid-column: 1 / 5;
        color: $color-grey-light-1;
        margin-left: 10rem;
        width: 100%;
        font-size: 5vw;
        line-height: 1;

        @media only screen and (max-width: $bp-small) {
          font-size: 8vw;
        }
      }

      &-image {
        z-index: 1;
        width: 100%;
        height: 80vh;
        grid-row: 1 / 9;
        grid-column: 1 / 9;
        filter: brightness(50%);

        @media only screen and (max-width: $bp-xlarge) {
          height: auto;
        }
      }
    }

    &--button {
      @include btn($color-grey-dark-1);

      &:hover {
        @include btn($color-grey-dark-2);
      }
    }

    &--body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5rem 55rem;
      min-height: 50vh;

      @media only screen and (max-width: $bp-xlarge) {
        padding: 5rem 30rem;
      }

      @media only screen and (max-width: $bp-xmedium) {
        padding: 5rem 25rem;
      }

      @media only screen and (max-width: $bp-small) {
        padding: 5rem 10rem;
      }

      // Safari only
      @supports (-webkit-hyphens: none) {
        padding: 5rem 30rem 0rem 30rem;

        @media only screen and (max-width: $bp-xlarge) {
          padding: 5rem 15rem 0rem 15rem;
        }

        @media only screen and (max-width: $bp-xmedium) {
          padding: 5rem 7rem 0rem 7rem;
        }

        @media only screen and (max-width: $bp-small) {
          padding: 5rem 3rem 0rem 3rem;
        }
      }

      &-text {
        flex: 1;
      }

      &-image {
        padding-top: 10rem;

        @supports (-webkit-hyphens: none) {
          padding-top: 6rem;
        }
      }
    }

    &--form {
      font-size: 5rem;
      border-color: gray;
      border-width: 5px;
      margin-bottom: 5rem;

      display: flex;
      flex-direction: column;
      row-gap: 3rem;
      align-items: start;

      &-input {
        border: 1px solid #ccc;
        height: 10rem;
        width: 100rem;
        margin-bottom: 6rem;
        font-size: 5rem;
        color: gray;

        // Safari only
        @supports (-webkit-hyphens: none) {
          height: 5rem;
          width: 60rem;
          margin-bottom: 2rem;

          @media only screen and (max-width: $bp-small) {
            width: 30rem;
          }
        }
      }

      &-textarea {
        height: 40rem;
        resize: none;
      }

      &-result {
        font-size: 6rem;
      }

      &-error {
        font-size: 4rem;
        color: red;
        font-weight: bolder;
      }

      &-g-recaptcha {
        margin: 2rem 0 2.5rem 0;

        // keep alignment consistent with inputs
        display: flex;
        justify-content: flex-start;

        // prevent overflow on small screens
        max-width: 100%;
        overflow: hidden;

        // optional subtle spacing polish
        transform-origin: left center;

        @media (max-width: 600px) {
          // scale captcha slightly on small screens
          transform: scale(0.9);
        }
      }
    }
  }
}